{% extends "layout.html" %}

{% block title %}Teams{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="card border-0 mt-4">
          <div class="card-header">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Team Top Scores</span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Team</th>
                  <th>Score</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for score in top_scores %}
                <tr>
                  <td>
                    {% if score[1] %}
                    <img src="data:image/png;base64, {{ score[1] }}"/>
                    {% endif %}
                    {{ score[0] }}
                  </td>
                  <td>{{ score[2] }}</td>
                  <td>{{ score[3] }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
