{% extends "layout.html" %}

{% block title %}Team{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <!-- Modal deleteTeamModal -->
        <div class="modal fade" id="deleteTeamModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>This will disband and delete the team
                            {% if user.team.logo %}
                            <img src="data:image/png;base64, {{ user.team.logo if user.team.logo else '' }}"/>
                            {% endif %}
                            {{ user.team.name }}.</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="/team/delete">
                            <button type="submit" class="btn btn-danger">Delete</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal deleteTeamModal -->
        <div class="modal fade" id="leaveTeamModal" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Are you sure?</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p>You will leave the team {% if user.team.logo %}
                            <img src="data:image/png;base64, {{ user.team.logo if user.team.logo else '' }}"/>
                            {% endif %}
                            {{ user.team.name }}, everyone else will remain.</p>
                    </div>
                    <div class="modal-footer">
                        <form method="post" action="/team/leave">
                            <button type="submit" class="btn btn-danger">Leave</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <pre>{{ message }}</pre>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1 class="mt-4">Team</h1>
                <hr/>
                <div class="card border-0 mt-4">
                    <div class="card-header">
                        <i class="bi bi-people-fill pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">Team</span>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Team:
                            {% if user.team.logo %}
                            <img src="data:image/png;base64, {{ user.team.logo if user.team.logo else '' }}"/>
                            {% endif %}
                                    {{ user.team.name if user.team else 'No Team' }}</p>
                    </div>
                </div>
                {% if not user.team %}
                <div class="card border-0 mt-4">
                    <div class="card-header">
                        <i class="bi bi-people-fill pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">Create New</span>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/team" enctype="multipart/form-data">
                            <div class="mb-3">
                                <label for="team_name" class="form-label">Team Name</label>
                                <input type="text" class="form-control" id="team_name" name="team_name" required>
                            </div>
                            <div class="mb-3">
                                <label for="team_crest" class="form-label">Team Crest</label>
                                <input class="form-control" type="file" id="team_crest" name="team_crest" accept="image/png" required>
                            </div>
                            <div class="mb-3">
                                <label for="team_password" class="form-label">Team Password</label>
                                <input type="password" class="form-control" id="team_password" name="team_password" required>
                            </div>
                            <div class="mb-3">
                                <label for="confirm_password" class="form-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Create</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                {% if user.team and user.team.owner == user.username %}
                <div class="card border-0 mt-4">
                    <div class="card-header">
                        <i class="bi bi-people-fill pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">Invite Member</span>
                    </div>
                    <div class="card-body">
                        <span>
                            <form method="post" action="/team/invite">
                                <label for="invite_member" class="form-label">Username</label>
                                <input class="form-control" id="invite_member" name="invite_member" required>
                                <input type="hidden" id="team_id" name="team_id" value="{{ user.team.id }}">
                                <br/>
                                <button type="submit" class="btn btn-success">Send Invitation</button>
                            </form>
                        </span>
                    </div>
                </div>
                <div class="card border-0 mt-4">
                    <div class="card-header">
                        <i class="bi bi-people-fill pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">Delete Team</span>
                    </div>
                    <div class="card-body">
                        <span>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteTeamModal">Delete</button>
                        </span>
                    </div>
                </div>
                {% endif %}
                {% if user.team %}
                <div class="card border-0 mt-4">
                    <div class="card-header">
                        <i class="bi bi-people-fill pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">Leave Team</span>
                    </div>
                    <div class="card-body">
                        <span>
                            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#leaveTeamModal">Leave</button>
                        </span>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% endblock %}
