__pycache__/
*.pyc
certs
benchmark
static/.sass-cache/
teams/**/
users/**/
uploads/
instance/
static/ctf/**
.DS_Store
**/.DS_Store
*.pyo
*.pyd
.idea/
cert.pem
key.pem
sandbox.db
sandbox_db.sqlite
*.iml
