{% extends "layout.html" %}

{% block title %}View Post{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <!-- Modal deletePostModal -->
    <div class="modal fade" id="deletePostModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Are you sure?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    You are about to delete <b>'{{ post['title'] }}'</b> Post.
                    <p>This will remove the Post and all associated Comments.</p>
                </div>
                <div class="modal-footer">
                    <form method="post" action="/forum/post/{{ post['id'] }}/delete">
                        <button type="submit" class="btn btn-danger">Delete</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-4">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mt-4">Post</h1>
                </div>
                <hr/>
            </div>
        </div>
        <div class="col-md-12 mb-4">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <a href="/forum">Forum</a> &rarr; <a href="{{ url_for('view_category', category_id=post.category.id) }}">{{ post.category.name }}</a>
                    &rarr; <a href="{{ url_for('view_post', post_id=post.id) }}">{{ post.title }}</a>
                </div>
                <div>
                    <a href="/forum/post/{{ post.id }}/create" class="btn btn-sm btn-primary text-white me-2">
                        As Template
                    </a>
                </div>
            </div>
        </div>
        <div class="card"  id="editor-card">
            <div class="card-header d-flex align-items-center">
                <div class="flex-grow-1">
                    <i class="bi bi-justify-left pe-none me-2" width="30" height="24"></i>
                    <span class="fs-5 fw-semibold">{{ post.title }}
                </span>
                </div>
                <div>
                    <span class="eye-button" onclick="toggleMD()"><i id="title-md-icon" class="bi bi-eye-fill pe-none me-3" width="30" height="24"></i></span>
                    <span class="eye-button" onclick="fullScreen()"><i id="fullscreen-icon" class="bi bi-fullscreen pe-none me-3" width="30" height="24"></i></span>
                </div>
            </div>
            <div class="card-body" style="padding: 0px !important;">
                <div class="post-container">
                    <div id="editor-4" style="display: none;"></div>
                    <div id="preview-4" style="display: block; padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);"></div>
                </div>
            </div>
        </div>
        {% if post.comments|length > 0 %}
        <div class="card mt-4">
            <div class="card-header">
                <i class="bi bi-chat-right-dots pe-none me-2" width="30" height="24"></i>
                <span class="fs-5 fw-semibold">Comments</span>
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush">
                    {% for comment in post.comments %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <div class="comment-details">
                            <p>{{ comment.content }}</p>
                            <p class="text-muted small">
                                Commented by <span class="comment-username">
                            {% if comment.user.team %}
                                        <img width="24" height="24" src="data:image/png;base64, {{ comment.user.team.logo.decode('utf-8') }}"/>
                                        {% endif %}
                            {{ comment.user.username }}</span> on
                                <span class="comment-date">{{ comment.date_created | to_user_timezone }}</span>
                            </p>
                        </div>
                        <div class="comment-actions">
                            {% if comment.user.id == user.id %}
                            <form method="POST" action="{{ url_for('delete_comment', comment_id=comment.id) }}">
                                <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                            </form>
                            {% endif %}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        {% endif %}
        {% if post['user_id'] == user.id %}
        <div class="card mt-4">
            <div class="card-header">
                <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
                <span class="fs-5 fw-semibold">Delete Post</span>
            </div>
            <div class="card-body">
                <span>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deletePostModal">Delete</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='/forum/post/{{ post.id }}/edit'">Edit</button>
                </span>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                <i class="bi bi-chat-right pe-none me-2" width="30" height="24"></i>
                <span class="fs-5 fw-semibold">Add a Comment
                </span>
            </div>
            <div class="card-body">
                <form method="POST" action="">
                    <div class="form-group">
                        <textarea class="form-control" name="content" rows="3" required></textarea>
                    </div>
                    <br/>
                    <button type="submit" class="btn btn-primary text-white">Comment</button>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .list-group {
        padding: 0px !important;
        margin: 0px !important;
    }
    .eye-button {
        cursor: pointer;
    }
    .eye-button:hover {
        color: #dc3545;
    }
    .fullscreen {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index:9999;
    }
</style>
<script src="/static/marked/marked.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>

<script>
    var markdownText = '{{ markdown_content|tojson|safe }}';
    markdownText = markdownText.substring(1, markdownText.length - 1);
    var post_editor = ace.edit("editor-4");
    post_editor.session.setMode("ace/mode/markdown");
    post_editor.setValue(markdownText);
    post_editor.setReadOnly(true);
    post_editor.selection.clearSelection();

    document.addEventListener('DOMContentLoaded', function() {
        const markdownContent = document.getElementById('preview-4');
        markdownContent.innerHTML = marked.parse(markdownText);
    });
    function fullScreen() {
        var titleIcon = document.getElementById("fullscreen-icon");
        var editorCard = document.getElementById("editor-card");
        if (titleIcon.classList.contains("bi-fullscreen")) {
            titleIcon.classList.remove("bi-fullscreen");
            titleIcon.classList.add("bi-fullscreen-exit");
            editorCard.classList.add("fullscreen");
        } else {
            titleIcon.classList.remove("bi-fullscreen-exit");
            titleIcon.classList.add("bi-fullscreen");
            editorCard.classList.remove("fullscreen");
        }
    }


    function toggleMD() {
        var preview = document.getElementById("preview-4");
        var editor = document.getElementById("editor-4");
        var titleIcon = document.getElementById("title-md-icon");
        if (preview.style.display === "none") {
            preview.style.display = "block";
            editor.style.display = "none";
            preview.innerHTML = marked.parse(post_editor.getValue());
            titleIcon.classList.remove("bi-code-slash");
            titleIcon.classList.add("bi-eye-fill");
        } else {
            preview.style.display = "none";
            editor.style.display = "block";
            titleIcon.classList.remove("bi-eye-fill");
            titleIcon.classList.add("bi-code-slash");
        }
    }
</script>
{% endblock %}
