{% extends "layout.html" %}

{% block title %}{{ exercise['title'] }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
          <pre>{{ message }}</pre>
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <!-- Modal deleteExerciseModal -->
    <div class="modal fade" id="deleteExerciseModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            You are about to delete <b>'{{ exercise['title'] }}'</b> Exercise.
            <p>This will remove the Exercise and all associated Top Scores.</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="/exercise/{{ exercise['id'] }}/delete">
              <button type="submit" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="spinner" class="text-center">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
        {% if result['type'] %}
        <div class="alert alert-{{ result['type'] }} alert-dismissible fade show" role="alert">
          <pre>{{ result['message'] }}</pre>
          {% if result['stdout'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Output</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['stdout'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['stderr'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Error</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['stderr'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['flake8'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Flake8</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['flake8'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['mypy'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Mypy</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['mypy'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['black'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Black</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['black'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['pylint'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Pylint</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['pylint'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h1 class="mt-4">Exercise</h1>
        <hr/>
        <div class="row">
          <div class="col-md-12 mb-4">
            <a href="/exercises">Exercises</a> &rarr; <a href="{{ url_for('exercise', exercise_id=exercise.id, lang=request.args.get('lang', 'python3')) }}">{{ exercise.title }}</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">{{ exercise['title'] }}
              {% if exercise['added_by_user_id'] == user.id %}<span id="edit-button" class="edit-button" onclick="updateDescription()"><i class="bi bi-pencil-fill pe-none ms-2" width="30" height="24"></i></span>{% endif %}
            </span>

          </div>
          <div class="card-body">
            <div id="card-text"></div>
            <div id="edit-text" style="display: none">
              <p><textarea rows="{% if exercise['description'] | length > 45 %}{{ exercise['description'] | length / 45 }}{% else %}1{% endif %}" id="description" name="description" class="form-control" placeholder="Type your description here" required>{{ exercise['description'] }}</textarea></p>
            </div>
            <div id="update-button" style="display: none">
                <a onclick="updateCode()" class="btn btn-primary text-white mb-4">Update</a>
            </div>
            <span class="badge bg-secondary">{{ exercise['exercise_difficulty'] }}</span>
          </div>
        </div>
        {% for sample_num in range(1, 4) %}
        {% set input_key = 'sample_' + sample_num|string + '_input' %}
        {% set output_key = 'sample_' + sample_num|string + '_output' %}

        {% if exercise[input_key] %}
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Sample Input</span>
          </div>
          <div class="card-body">
            <div id="sample-output">{{ exercise[input_key] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</div>
          </div>
        </div>
        {% endif %}

        {% if exercise[output_key] %}
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Sample Output</span>
          </div>
          <div id="sample-output-body" style="max-height: 300px; overflow-y: auto;">
            <div class="card-body">
              <div id="sample-output">{{ exercise[output_key] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="card mt-4">
          <div class="card-header solution-header d-flex align-items-center">
            <div class="flex-grow-1">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Your Solution</span>
            </div>
            <div>
              <div class="dropdown">
                <button class="btn btn-sm btn-secondary text-white dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown" aria-expanded="false">Python3</button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                  <li><a class="dropdown-item" href="{{ url_for('exercise', exercise_id=exercise.id, lang='python3') }}">Python3</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('exercise', exercise_id=exercise.id, lang='go') }}">Go</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="card-body" style="padding: 0px !important;">
            <form method="post" id="code-form">
              <div class="form-group code-container">
                <div id="editor-1">{{ exercise['code'] }}</div>
              </div>
            </form>
          </div>
        </div>
        <a href="#" class="btn btn-primary text-white mt-4" onclick="saveCode()">Submit</a>
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Individual Top Scores</span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Username</th>
                  <th>Score</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for score in top_scores %}
                <tr>
                  <td>
                    {% if loop.index0 == 0 %}
                    <i class="bi bi-trophy-fill pe-none me-2 text-warning" width="30" height="24"></i>
                    {% elif loop.index0 == 1 %}
                    <i class="bi bi-trophy-fill pe-none me-2 text-light" width="30" height="24"></i>
                    {% elif loop.index0 == 2 %}
                    <i class="bi bi-trophy-fill pe-none me-2 text-bronze" width="30" height="24"></i>
                    {% endif %}
                    {% if score[3] %}
                    <img width="24" height="24" src="data:image/png;base64, {{ score[3].decode('utf-8') }}"/>
                    {% endif %}
                    {{ score[0] }}
                  </td>
                  <td>{{ score[1] }}</td>
                  <td>{{ score[4] }}</td>
                  <td>{{ score[2] | to_user_timezone }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% if exercise['added_by_user_id'] == user.id %}
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Delete Exercise</span>
          </div>
          <div class="card-body">
                <span>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteExerciseModal">Delete</button>
                </span>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  .edit-button {
    cursor: pointer;
  }
  .edit-button:hover {
    color: #dc3545;
  }
  .edit-button.active {
    color: #dc3545;
  }
  .input-as-span {
    border: none !important;
    padding: 0 !important;
    margin-bottom: 0px !important;
    border-radius: 0px !important;
    background-color: transparent;
    outline: none;
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
    width: calc(100% - 44px) !important;
  }
</style>
<script src="/static/marked/marked.min.js" type="text/javascript" charset="utf-8"></script>
<script src="/static/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  const markdownText = {{ exercise['description'] | tojson | safe }};
  var spinner = document.getElementById("spinner");
  var editor = ace.edit("editor-1");
  editor.session.setMode("ace/mode/python");
  spinner.style.display = "none";


  document.addEventListener('DOMContentLoaded', function() {
    const markdownContent = document.getElementById('card-text');
    markdownContent.innerHTML = marked.parse(markdownText);
  });

  const queryString = window.location.search;
  const urlParams = new URLSearchParams(queryString);
  const lang = urlParams.get('lang') || 'python3';
  if (lang) {
    if (lang === 'go') {
      document.getElementById('languageDropdown').textContent = 'Go';
      editor.session.setMode("ace/mode/golang");
    } else if (lang === 'python3') {
      document.getElementById('languageDropdown').textContent = 'Python3';
      editor.session.setMode("ace/mode/python");
    }
  }
  function showSpinner() {
    spinner.style.display = "block";
  }

  function updateCode() {
    var description = document.getElementById("description").value;
    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "");

    var descriptionInput = document.createElement("input");
    descriptionInput.setAttribute("type", "hidden");
    descriptionInput.setAttribute("name", "description");
    descriptionInput.setAttribute("value", description);

    form.appendChild(descriptionInput);

    document.body.appendChild(form);
    showSpinner();
    form.submit();
  }

  function updateDescription() {
    var cardText = document.getElementById("card-text");
    var editText = document.getElementById("edit-text");
    var editButton = document.getElementById("edit-button");
    var updateButton = document.getElementById("update-button");
    if (cardText.style.display === "none") {
        cardText.style.display = "block";
        editText.style.display = "none";
        editButton.classList.remove("active")
        updateButton.style.display = "none";
    } else {
        cardText.style.display = "none";
        editText.style.display = "block";
        editButton.classList.add("active")
        updateButton.style.display = "block";
    }
  }

  function saveCode() {
    var filename = "{{ exercise['id'] }}.py";
    var code = editor.getValue();

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "");

    var codeInput = document.createElement("input");
    codeInput.setAttribute("type", "hidden");
    codeInput.setAttribute("name", "code");
    codeInput.setAttribute("value", code);

    var filenameInput = document.createElement("input");
    filenameInput.setAttribute("type", "hidden");
    filenameInput.setAttribute("name", "filename");
    filenameInput.setAttribute("value", filename);

    var languageInput = document.createElement("input");
    languageInput.setAttribute("type", "hidden");
    languageInput.setAttribute("name", "language");
    languageInput.setAttribute("value", lang);

    form.appendChild(codeInput);
    form.appendChild(filenameInput);
    form.appendChild(languageInput);

    document.body.appendChild(form);
    showSpinner();
    form.submit();
  }

</script>
{% endblock %}
