{% extends "layout.html" %}

{% block title %}{{ exercise['title'] }}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <!-- Modal deleteExerciseModal -->
    <div class="modal fade" id="deleteExerciseModal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Are you sure?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            You are about to delete <b>'{{ exercise['title'] }}'</b> Exercise.
            <p>This will remove the Exercise and all associated Top Scores.</p>
          </div>
          <div class="modal-footer">
            <form method="post" action="/exercise/{{ exercise['id'] }}/delete">
              <button type="submit" class="btn btn-danger">Delete</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {% if result['type'] %}
        <div class="alert alert-{{ result['type'] }} alert-dismissible fade show" role="alert">
          <pre>{{ result['message'] }}</pre>
          {% if result['stdout'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Output</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['stdout'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['stderr'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Error</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['stderr'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['flake8'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Flake8</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['flake8'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['mypy'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Mypy</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['mypy'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['black'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Black</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['black'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          {% if result['pylint'] %}
          <div class="card mt-4">
            <div class="card-header sticky">
              <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
              <span class="fs-5 fw-semibold">Pylint</span>
            </div>
            <div class="card-body" style="max-height: 300px; overflow-y: auto;">
              <p id="sample-output">{{ result['pylint'] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</p>
            </div>
          </div>
          {% endif %}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <h1 class="mt-4">Exercise</h1>
        <hr/>
        <div class="row">
          <div class="col-md-12 mb-4">
            <a href="/exercises">Exercises</a> &rarr; <a href="{{ url_for('exercise', exercise_id=exercise.id) }}">{{ exercise.title }}</a>
          </div>
        </div>
        <div class="card">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">{{ exercise['title'] }}</span>
          </div>
          <div class="card-body">
            <p class="card-text">{{ exercise['description'] }}</p>
            <span class="badge bg-secondary">{{ exercise['exercise_difficulty'] }}</span>
            <span class="badge bg-secondary">{{ exercise['language'] }}</span>
          </div>
        </div>
        {% for sample_num in range(1, 4) %}
        {% set input_key = 'sample_' + sample_num|string + '_input' %}
        {% set output_key = 'sample_' + sample_num|string + '_output' %}

        {% if exercise[input_key] %}
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Sample Input</span>
          </div>
          <div class="card-body">
            <div id="sample-output">{{ exercise[input_key] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</div>
          </div>
        </div>
        {% endif %}

        {% if exercise[output_key] %}
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Sample Output</span>
          </div>
          <div id="sample-output-body" style="max-height: 300px; overflow-y: auto;">
            <div class="card-body">
              <div id="sample-output">{{ exercise[output_key] | replace("<", "&lt;") | replace(">", "&gt;") | replace("\n", "<br/>") | safe }}</div>
            </div>
          </div>
        </div>
        {% endif %}
        {% endfor %}

        <div class="card mt-4">
          <div class="card-header">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Your Solution</span>
          </div>
          <div class="card-body" style="padding: 0px !important;">
            <form method="post" id="code-form">
              <div class="form-group code-container">
                <div id="editor-1">{{ exercise['code'] }}</div>
              </div>
            </form>
          </div>
        </div>
        <a href="#" class="btn btn-primary text-white mt-4" onclick="saveCode()">Submit</a>
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Individual Top 5 Scores</span>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-hover">
                <thead>
                <tr>
                  <th>Username</th>
                  <th>Score</th>
                  <th>Time</th>
                  <th>Date</th>
                </tr>
                </thead>
                <tbody>
                {% for score in top_scores %}
                <tr>
                  <td>
                    {% if loop.index0 == 0 %}
                    <i class="bi bi-trophy-fill pe-none me-2 text-warning" width="30" height="24"></i>
                    {% elif loop.index0 == 1 %}
                    <i class="bi bi-trophy-fill pe-none me-2 text-light" width="30" height="24"></i>
                    {% elif loop.index0 == 2 %}
                    <i class="bi bi-trophy-fill pe-none me-2 text-bronze" width="30" height="24"></i>
                    {% endif %}
                    {% if score[3] %}
                    <img width="24" height="24" src="data:image/png;base64, {{ score[3] }}"/>
                    {% endif %}
                    {{ score[0] }}
                  </td>
                  <td>{{ score[1] }}</td>
                  <td>{{ score[4] }}</td>
                  <td>{{ score[2] }}</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
        {% if exercise['added_by_user_id'] == user.id %}
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Delete Exercise</span>
          </div>
          <div class="card-body">
                <span>
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteExerciseModal">Delete</button>
                </span>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
</style>
<script src="/static/ace-builds/src-min-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
  var editor = ace.edit("editor-1");
  editor.session.setMode("ace/mode/python");
  function saveCode() {
    var filename = "{{ exercise['id'] }}.py";
    var code = editor.getValue();

    var form = document.createElement("form");
    form.setAttribute("method", "post");
    form.setAttribute("action", "");

    var codeInput = document.createElement("input");
    codeInput.setAttribute("type", "hidden");
    codeInput.setAttribute("name", "code");
    codeInput.setAttribute("value", code);

    var filenameInput = document.createElement("input");
    filenameInput.setAttribute("type", "hidden");
    filenameInput.setAttribute("name", "filename");
    filenameInput.setAttribute("value", filename);

    form.appendChild(codeInput);
    form.appendChild(filenameInput);

    document.body.appendChild(form);
    form.submit();
  }

</script>
{% endblock %}
