{% extends "layout.html" %}

{% block title %}Exercises{% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container mt-4">
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    <pre>{{ message }}</pre>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-between align-items-center">
                    <h1 class="mt-4">Exercises</h1>
                    <div class="col-md-3 d-flex align-items-center">
                        <form id="searchForm" method="GET" action="{{ url_for('exercise_app') }}" class="mx-auto">
                            <div class="input-group">
                                <input type="search" id="searchInput" name="query" class="form-control border-light-subtle bg-light-subtle" value="{% if query %}{{ query }}{% endif %}" placeholder="Search" aria-label="Search" aria-describedby="searchInputBtn">
                                <div class="input-group-append">
                                    <button id="searchInputBtn" type="submit" class="btn btn-primary">
                                        <i class="bi bi-search"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-4">
                <div class="d-flex justify-content-between align-items-center">
                    <div>
                        <a href="/exercises">Exercises</a>
                    </div>
                    <div>
                        <a href="/exercise/create" class="btn btn-sm btn-primary text-white me-2">
                            Add Exercise
                        </a>
                    </div>
                </div>
            </div>
        </div>
        {% if exercises.items | length != 0 %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header sticky">
                        <i class="bi bi-box-fill pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">
                            Exercises
                        </span>
                    </div>
                    <div class="card-body-list">
                        <table class="table table-striped">
                            <tbody>
                            {% for exercise in exercises %}
                            <tr>
                                <td>
                                    {% for score in exercise.rank %}
                                    {% if loop.index0 == 0 and score == session['username'] %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-warning"></i>
                                    {% elif loop.index0 == 1 and score == session['username'] %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-light"></i>
                                    {% elif loop.index0 == 2 and score == session['username'] %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-bronze"></i>
                                    {% endif %}
                                    {% endfor %}
                                    <a href="{{ url_for('exercise', exercise_id=exercise['id']) }}">{{ exercise.title | safe }}</a>
                                    <br/>
                                    <small>{{ exercise.description | safe }}</small>
                                    <br/>
                                    <small>Created by
                                        {% if exercise.user.team %}
                                        <img width="24" height="24" src="data:image/png;base64, {{ exercise.user.team.logo.decode('utf-8') }}"/>
                                        {% endif %}{{ exercise.user.username }} on {{ exercise.date_created | to_user_timezone }}</small>
                                </td>
                                <td class="text-end">
                                    <span class="badge bg-primary">{{ exercise.exercise_difficulty }}</span>
                                    <span class="badge bg-primary">{{ exercise.language }}</span>
                                </td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    {% if exercises.has_prev or exercises.has_next %}
        <div class="container mt-4">
            <div class="row">
                <div class="col-md-12 center-pagination">
                    <ul class="pagination">
                        {% if exercises.has_prev %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('exercise_app', page=exercises.prev_num) }}">Previous</a></li>
                        {% endif %}

                        {% for page_num in exercises.iter_pages() %}
                        {% if page_num %}
                        <li class="page-item{% if page_num == exercises.page %} active{% endif %}">
                            <a class="page-link" href="{{ url_for('exercise_app', page=page_num) }}">{{ page_num }}</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">...</span></li>
                        {% endif %}
                        {% endfor %}

                        {% if exercises.has_next %}
                        <li class="page-item"><a class="page-link" href="{{ url_for('exercise_app', page=exercises.next_num) }}">Next</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header sticky">
                    <i class="bi bi-box pe-none me-2"></i>
                    <span class="fs-5 fw-bold">Top Scores of the Day</span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Score</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for score in top_daily_scores %}
                            <tr>
                                <td>
                                    {% if loop.index0 == 0 %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-warning"></i>
                                    {% elif loop.index0 == 1 %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-light"></i>
                                    {% elif loop.index0 == 2 %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-bronze"></i>
                                    {% endif %}
                                    {% if score[3] %}
                                    <img width="24" height="24" src="data:image/png;base64, {{ score[3] }}"/>
                                    {% endif %}
                                    {{ score[0] }}
                                </td>
                                <td>{% if score[1] %}{{ score[1] }}{% else %}0{% endif %}</td>
                                <td>{% if score[2] %}{{ score[2] | to_user_timezone }}{% else %}-{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-header sticky">
                    <i class="bi bi-box pe-none me-2"></i>
                    <span class="fs-5 fw-bold">Individual Top Scores</span>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>Username</th>
                                <th>Score</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for score in top_scores %}
                            <tr>
                                <td>
                                    {% if loop.index0 == 0 %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-warning"></i>
                                    {% elif loop.index0 == 1 %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-light"></i>
                                    {% elif loop.index0 == 2 %}
                                    <i class="bi bi-trophy-fill pe-none me-2 text-bronze"></i>
                                    {% endif %}
                                    {% if score[3] %}
                                    <img width="24" height="24" src="data:image/png;base64, {{ score[3] }}"/>
                                    {% endif %}
                                    {{ score[0] }}
                                </td>
                                <td>{% if score[1] %}{{ score[1] }}{% else %}0{% endif %}</td>
                                <td>{% if score[2] %}{{ score[2] | to_user_timezone }}{% else %}-{% endif %}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .exercise-list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
    }

    .exercise-card {
        display: block;
    }
    .exercise-add-card {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .exercise-add-card span {
        display: inline-block;
        font-size: 30px;
    }
    .card-body-list {
        padding: 0px !important;
    }
    .table {
        margin-bottom: 0;
    }
    .table>tbody>tr>td {
        padding: 16px;
    }
</style>
{% endblock %}
