@import "bootstrap-5.3.1/scss/functions";
@import "bootstrap-5.3.1/scss/variables";

$custom-colors: (
  "primary": #cb8c17,
  "bronze": rgb(205, 127, 50),
);

$navbar-dark-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$navbar-light-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
$navbar-dark-toggler-border-color: rgba(255, 255, 255, 0.15);
$navbar-light-toggler-border-color: rgba(255, 255, 255, 0.15);
$theme-colors: map-merge($theme-colors, $custom-colors);

body {
  font-family: Arial, sans-serif;
  background-color: var(--bs-light);
  color: var(--bs-dark);
}

.navbar {
  background-color: var(--bs-dark);
  color: var(--bs-light);
  padding: 15px 0;
  border-bottom: 2px solid var(--bs-primary);
}

.navbar-brand {
  font-size: 24px;
}

.navbar i {
  font-size: 30px;
  vertical-align: middle;
  margin-right: 5px;
  color: var(--bs-primary);
}


.navbar-nav a.nav-link {
  color: var(--bs-light);
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
}

.navbar-nav a.nav-link:hover {
  color: var(--bs-primary);
}


#theme-toggler {
  font-size: 24px;
  cursor: pointer;
}


.dropdown-menu {
  background-color: var(--bs-dark);
  border: none;
}

.dropdown-item {
  color: var(--bs-light);
  transition: background-color 0.3s, color 0.3s;
}

.dropdown-item:hover {
  background-color: var(--bs-primary) !important;
  color: var(--bs-light)!important;
}

#content {
  margin-top: 56px;
  border-radius: 5px;
}

.card {
  border: none;;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sticky {
  position: sticky;
  top: 64px;
  z-index: 999;
}

.card-header {
  color: var(--bs-primary);
  padding: 15px;
  background-color: var(--bs-tertiary-bg) !important;
  border-bottom: 2px solid var(--bs-primary);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.solution-header{
  overflow: unset!important;
}

.card-header i {
  vertical-align: middle;
  margin-right: 5px;
  font-size: 1.25rem;
}
.card-body {
  padding: 20px;
}

.description {
  height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: normal;
}

ul {
  list-style-type: disc;
  margin-left: 20px;
}


a {
  color: var(--bs-primary);
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: var(--bs-secondary);
}


span.fs-5 {
  font-size: 1.25rem;
  font-weight: 600;
}


.exercise-add-card span {
  display: inline-block;
  font-size: 30px;
}

img {
  max-width: 100%;
}

#searchInput {
  border-bottom-left-radius: 16px;
  border-top-left-radius: 16px;
}


#searchInputBtn {
  border-radius: 0px 16px 16px 0px;
}

.card-footer {
  background: transparent !important;
  border-top: 0px !important;
}

.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"],
input[type="password"]
{ width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: var(--bs-primary);
  color: var(--bs-light);;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#code-container:read-write:focus {
  outline: none;
}

.code-container {
  position: relative;
  height: 350px;
}

#post-container:read-write:focus {
  outline: none;
}
.post-container {
  position: relative;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

#sample-output {
  font-family: "Courier New", Courier, monospace;
}

.code-wrapper {
  position: relative;
}

*[id^='editor-'] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1rem;
  border-bottom-left-radius: 0.375rem;
  border-bottom-right-radius: 0.375rem;
}

.center-pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination {
  list-style: none;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0;
  margin: 0;
}

.page-item.active .page-link {
  background-color: var(--bs-primary);
  border-color: var(--bs-primary);
  color: #fff;
}

.page-link {
  color: var(--bs-primary);
  background-color: transparent;
  transition: background-color 0.3s, color 0.3s;
}

.page-link:hover {
  background-color: var(--bs-primary);
  color: #fff;
  text-decoration: none;
}


pre {
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
  color: var(--bs-body-color);
  padding: 10px;
  border-radius: 5px;
  overflow-x: auto;
}

code {
  font-family: Monaco, monospace;
}

blockquote {
  border-left: 3px solid #ccc;
  margin: 10px 0;
  padding-left: 10px;
}

.inline-code {
  background-color: var(--bs-body-bg);
  padding: 2px 4px;
  border-radius: 3px;
  font-family: Monaco, monospace;
}

table {
  width: 100%;
  border-radius: 5px !important;
  margin-bottom: 20px;
}


th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: rgba(var(--bs-body-color-rgb), 0.03);
  color: var(--bs-body-color);
}


@import "bootstrap-5.3.1/scss/bootstrap";