{% extends "layout.html" %}

{% block title %}About{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header">
                        <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">About</span>
                    </div>
                    <div class="card-body">
                        <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
                        <span class="fs-5 fw-semibold">Sandbox</span>
                        <br/><br/>
                        It uses the following technologies:
                        <ul>
                            <li>Python using the <a href="https://flask.palletsprojects.com/en/2.3.x/" target="_blank">Flask framework</a>.</li>
                            <li>SQLite database for storing data.</li>
                            <li><a href="https://getbootstrap.com" target="_blank">Bootstrap 5</a> for styling.</li>
                        </ul>
                        Original code repository: <a href="https://github.com/zerodayz/sandbox" target="_blank">Sandbox</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .exercise-add-card span {
        display: inline-block;
        font-size: 30px;
    }
</style>

{% endblock %}
