{% extends "layout.html" %}

{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="container">
        <div class="card">
            <div class="card-header sticky">
                <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
                <span class="fs-5 fw-semibold">Sandbox</span> Login
            </div>
            <div class="card-body">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-warning" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <form method="post">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" id="username" name="username" required><br><br>
                    <label for="password" class="form-label">Password</label>
                    <input type="password" id="password" name="password" required><br><br>
                    <button type="submit" class="btn btn-primary text-white">Login</button>
                    <a href="/user/create" class="btn btn-primary text-white">Create</a>
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    html, body {
        height: 100%;
    }

    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .card {
        width: 18rem;
    }
</style>
{% endblock %}