{% extends "layout.html" %}

{% block title %}Profile{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<div class="container-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                <pre>{{ message }}</pre>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
    </div>
    {% if team_invitations %}
    {% for team in team_invitations %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      You have been invited to join the team:
      {% if team.logo %}
      <img width="24" height="24" src="data:image/png;base64, {{ team.logo.decode('utf-8') if team.logo else '' }}"/>
      {% endif %}
      {{ team.name }}</p>
      <form method="post" action="/team/join">
        <input type="hidden" name="team_id" value="{{ team.id }}">
        <input type="hidden" name="username" value="{{ user.username }}">
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" value="accept" id="accept" checked>
          <label class="form-check-label" for="accept">
            Accept
          </label>
        </div>
        <div class="form-check">
          <input class="form-check-input" type="radio" name="mode" value="reject" id="reject">
          <label class="form-check-label" for="reject">
            Reject
          </label>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-12">
        <h1 class="mt-4">User Profile</h1>
        <hr/>
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-person-circle pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Profile</span>
          </div>
          <div class="card-body">
            <p class="card-text">Username: {{ user.username }}</p>
            <form method="post" action="/user/profile">
              <div class="mb-3">
                <label for="timezone" class="form-label">Timezone</label>
                <select class="form-select" id="timezone" name="timezone">
                  {% for tz in timezones %}
                  {% if user.timezone == tz %}
                  <option value="{{ tz }}" selected>{{ tz }}</option>
                  {% else %}
                  <option value="{{ tz }}">{{ tz }}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <button type="submit" class="btn btn-success text-white">Update</button>
            </form>
          </div>
        </div>
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-people-fill pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Team</span>
          </div>
          <div class="card-body">
            <p class="card-text">Team:
              {% if team.logo %}
              <img width="24" height="24" src="data:image/png;base64, {{ team.logo.decode('utf-8') if team.logo else '' }}"/>
              {% endif %}
              {{ team.name if team else 'No Team' }}</p>
            <a href="/team" type="button" class="btn btn-primary text-white">Team Management</a>
          </div>
        </div>
        <!-- Change password -->
        <div class="card mt-4">
          <div class="card-header sticky">
            <i class="bi bi-box pe-none me-2" width="30" height="24"></i>
            <span class="fs-5 fw-semibold">Change Password</span>
          </div>
          <div class="card-body">
            <form method="post" action="/user/profile">
              <div class="mb-3">
                <label for="old_password" class="form-label">Old Password</label>
                <input type="password" class="form-control" id="old_password" name="old_password" required>
              </div>
              <div class="mb-3">
                <label for="new_password" class="form-label">New Password</label>
                <input type="password" class="form-control" id="new_password" name="new_password" required>
              </div>
              <div class="mb-3">
                <label for="confirm_password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
              </div>
              <button type="submit" class="btn btn-primary text-white">Change Password</button>
            </form>
          </div>
      </div>
      <div class="card mt-4">
        <div class="card-header sticky">
          <i class="bi bi-download pe-none me-2" width="30" height="24"></i>
          <span class="fs-5 fw-semibold">Download</span>
        </div>
        <div class="card-body">
            <a href="/exercises/download" type="button" class="btn btn-success text-white">Download</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
